body{ 
    margin: 0;
}
#menu ul{
    background-color:black;
    margin:0;
    display:block;
    width:100%;
    padding:30px
}

#menu li{
    display:inline-block
}


#menu li a{
    color:white;
    padding:15px;
    font-size:25px;
    margin-right:20px;
    text-decoration:none
}

#menu li a:hover{
    color:aquamarine;
    border: 1px solid aquamarine
}



h2{
    font-size:30px;
    font-family: Arial;
}
h1{
    font-size: 60px;
    font-family: Arial;
    color:olivedrab;
    background-color: black;

}
p{
    font-size: 20px;
}
body{ background-color: paleturquoise;}